@{
    ViewData["Title"] = "Atomic Synergistics";
}

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Atomic Synergistics</h1>


                    <a class="lead   text-dark mb-2 mt-2" @Html.ActionLink("AS", "http://atomicsynergistics.chaneldubreuil.com") <font size="6"></font></a>
                </div>
            </div>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal text-dark">
                   To view the site, please use the following credentials: <br/> <br />
                        Administration: Username:admin@email.com Password:Password123!
                        Accounting: Username:accounting@email.com Password:Password123!
                        Human Resources: Username:hr@email.com Password:Password123!
                    </p>
                </div>
            </div>
        </div>

        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal text-dark">

                        During my final project at Centriq, our team embarked on the development of a .NET Core web application for a hypothetical company named Atomic Synergistics. Under the guidance of our instructor, who played the role akin to a department head in a corporate setting, my classmates and I collaborated to design and construct our web platform. My primary contribution involved the design of the Create views. I was also tasked with creating the PowerPoint, which I designed with the purpose of it being informative enough to showcase the depth of the project while also being easy for people outside of the development team to follow along with and understand. Collectively, we implemented robust security measures to ensure that access to specific sections of the website was restricted based on user clearance levels. The site was configured to permit only registered users to view content, with delete functionalities exclusively accessible to administrators. This project not only enriched my experience in professional teamwork but also enlightened me on tailoring project approaches to meet client requirements, moving beyond personal design preferences to deliver client-centric solutions.
                    </p>
                </div>
            </div>
        </div>
        <a class="lead   text-dark mb-2 mt-2" download="FinalProject.pptx" href="~/files/FinalProject.pptx"><font size="6">Download and view the PowerPoint documentation</font></a>

    </div>
</section>
    </main>



