@{
    ViewData["Title"] = "Home Page"; 
}


<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2" id="intro">Hi, I'm Chanel!</h1>
                    <p class="lead fw-normal text-white-50 mb-4">and I'm a full-stack developer based in KCMO. Originally, my education began 
                        with a focus on Art Education, but my curiosity and love of technology has lead me to explore the world of programming. 
                        I hope to blend these skills and employ creative and innovative approaches towards my future projects. I've also spent several 
                        years working in retail and restaurants. Although I am great with customers, I prefer to be more hands on with my work.
                        This has led me to prefer actually working in the kitchen while in restaurants, and organizing and setting up new displays
                        while employed in retail. Nothing is as satisfying to me as finally finishing a big project, and I take pride in making sure
                        that once I'm finished every detail is exactly how I envisioned it.
                        <br />
                        <br />
                        In my free time, I'm a mom to two young daughters. I've managed to spread my love of art and technology to them too. Someone in
                        my house is always either playing video games or painting weird monsters. 
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-outline-dark btn-lg px-4" id="wigglewiggle" href=@Url.ActionLink("Resume", "Home")>More About Me</a>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href=@Url.ActionLink("Contact", "Home")>Talk To Me</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="images/Me1.jpg" alt="Chanel Dubreuil" /></div>
        </div>
    </div>
</header>
<!-- Features section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5 mt-5 mb-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="fw-bolder mb-0" id="intro">Here's a little bit about me. </h2>
            </div>
            <div class="col-lg-8">

                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mt-10 mb-3"><i class="fa-solid fa-splotch"></i></div>
                        <h2 class="h5"><strong>What is my ideal position?</strong></h2>
                        <p class="mb-0">My long-term goal is to work my way up to a Database Administrator position. Back-end projects have by far been my favorite ones to work on!</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="fa-solid fa-robot"></i></div>
                        <h2 class="h5"><strong>What makes me a great team member?</strong></h2>
                        <p class="mb-0"> I love to learn as much as I can about both the company and
                            the day-to-day work processes so that I can be as helpful to my coworkers as possible. I want to be a person others can rely on for support and knowledge. 
                            
                        </p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="fa-solid fa-puzzle-piece"></i></div>
                        <h2 class="h5"><strong>What motivates me?</strong></h2>
                        <p class="mb-0">I crave progress, and the most satisfying thing for me is to see all the steps of a big project finally come together. I'm motivated most by the thought of finally seeing the finished results after all my hard work.  </p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="fa-solid fa-diagram-project"></i></div>
                        <h2 class="h5"><strong>What is my favorite language? </strong> </h2>
                        <p class="mb-0">So far, my absolute favorite has been SQL. Once I leave Centriq, I plan to spend as much of my time as possible
                            buiding my proficiency with it. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Call to action-->
    </main>