@{
    ViewData["Title"] = "Links";
}

        <div class="container px-10">
            <h1 class="text-center mt-5">My Centriq Classmates</h1>
        </div>
        <section class="py-5">
            <div class="container px-5">
                <h2 class="fw-bolder fs-5 mb-4 text-center ">Some cool people you should check out!</h2>
                <div class="row gx-5">





                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/DanAmbro.jpg" alt="Dan Ambro" />
                            <div class="card-body p-4">
                        <p class="card-text mb-0">Dan Ambro</p>
                        <a class="card-text mb-0 text-dark" target="_blank" href="http://www.danielambro.com">Personal Site</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/wood-fence-background_2.jpeg" alt="Zoey Bateman" />
                            <div class="card-body p-4">
                        <p class="card-text mb-0">Zoey Bateman</p>
                        <a class="card-text mb-0 text-dark" target="_blank" href="http://www.zoeybateman.com">Personal Site</a><br />
                        <a class="card-text mb-0 text-dark" target="_blank" href="https://www.linkedin.com/in/zoey-bateman/">LinkedIn</a>
                    </div>
                        </div>
                    </div>



                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/Gene.jpg" alt="Gene Cathcart" />
                            <div class="card-body p-4">
                        <p class="card-text mb-0">Gene Cathcart</p>
                        <a class="card-text mb-0 text-dark" target="_blank" href="http://www.genecathcart.com">Personal Site</a><br />
                        <a class="card-text mb-0 text-dark" target="_blank" href="https://www.linkedin.com/in/genecathcart/">LinkedIn</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/alexdavenport.jpg" alt="Alex Davenport" />
                            <div class="card-body p-4">
                        <p class="card-text mb-0">Alex Davenport</p>
                        <a class="card-text mb-0 text-dark" target="_blank" href="http://www.alex-davenport.com">Personal Site</a><br />
                        <a class="card-text mb-0 text-dark" target="_blank" href="https://www.linkedin.com/in/alex-davenport-4b9445286/">LinkedIn</a>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/Aidan.jpg" alt="Aidan McQuillan" />
                            <div class="card-body p-4">
                        <p class="card-text mb-0">Aidan McQuillan</p>
                        <a class="card-text mb-0 text-dark" target="_blank" href="http://www.aidenmcquillan.com">Personal Site</a><br />
                        <a class="card-text mb-0 text-dark" target="_blank" href="https://www.linkedin.com/in/aidan-mcquillan-67a245289/">LinkedIn</a>
                            </div>
                        </div>
                    </div>

            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="~/images/samnegus.jpg" alt="Sam Negus" />
                    <div class="card-body p-4">
                        <p class="card-text mb-0">Sam Negus</p>
                        <a class="card-text mb-0 text-dark" target="_blank" href="http://www.samnegus.com">Personal Site</a><br />
                        <a class="card-text mb-0 text-dark" target="_blank" href="https://www.linkedin.com/in/samnegus/">LinkedIn</a>
                    </div>
                </div>
            </div>      
            
            
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="~/images/markus-winkler-6csjwms6jva-unsplash.jpg" alt="Nicole Park" />
                    <div class="card-body p-4">
                        <p  class="card-text mb-0">Nicole Park</p>
                        <a class="card-text mb-0 text-dark" target="_blank" href="http://www.nicolepark.net">Personal Site</a><br />
                        <a class="card-text mb-0 text-dark" target="_blank" href="www.linkedin.com/in/nicoleipark">LinkedIn</a>
                    </div>
                </div>
            </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/chrisrandall.jpg" alt="Chris Randall" />
                            <div class="card-body p-4">
                        <p class="card-text mb-0">Chris Randall</p>
                        <a class="card-text mb-0 text-dark" target="_blank" href="http://www.devchristopher.com" />Personal Site</a><br />
                        <a class="card-text mb-0  text-dark" target="_blank" href="https://www.linkedin.com/in/chris-randall-849887b3/">LinkedIn</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/paulvalenti.jpg" alt="Paul Valenti" />
                            <div class="card-body p-4">
                       
                        <p class="card-text mb-0">Paul Valenti</p>
                        <a class="card-text mb-0 text-dark" target="_blank" href="http://bluprintdevelopment.com/">Personal Site</a><br />
                        <a class="card-text mb-0 text-dark" target="_blank" href="https://www.linkedin.com/in/paul-valenti-a233a7289/">LinkedIn</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/thumbnail_IMG_1615.jpg" alt="Alicia Villegas" />
                            <div class="card-body p-4">
                        <p class="card-text mb-0">Alicia Villegas</p>
                        <a class="card-text mb-0 text-dark" target="_blank" href="http://www.aliciavillegas.net">Personal Site</a><br />
                        <a class="card-text mb-0 text-dark" target="_blank" href="https://www.linkedin.com/in/alicia-m-villegas/">LinkedIn</a>
                            </div>
                        </div>
                    </div>






                </div>
                <div class="text-end mb-5 mb-xl-0">
                </div>
            </div>
        </section>
    </main>
