@{
    ViewData["Title"] = "Links";
}

        <div class="container px-10">
            <h1 class="text-center mt-5">My Centriq Classmates</h1>
        </div>
        <section class="py-5">
            <div class="container px-5">
                <h2 class="fw-bolder fs-5 mb-4 text-center ">Some cool people you should check out!</h2>
                <div class="row gx-5">





                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/markus-winkler-6CSJWMs6JVA-unsplash.jpg" alt="..." />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Dan Ambro</div></a>
                                <p class="card-text mb-0">Link Placeholder</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/wood-fence-background_2.jpeg" alt="Zoey" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Zoey Bateman</div></a>
                                <p class="card-text mb-0">http://www.zoeybateman.com</p>
                            </div>
                        </div>
                    </div>





                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/Gene.jpg" alt="Gene" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Gene Cathcart</div></a>
                                <p class="card-text mb-0">https://www.linkedin.com/in/genecathcart/</p>
                                <p class="card-text mb-0">http://www.genecathcart.com</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/driftime-media-NkhK9J-0DaI-unsplash.jpg" alt="..." />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Alex Davenport</div></a>
                                <p class="card-text mb-0">Link Placeholder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/Aidan.jpg" alt="Aidan" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Aidan McQuillan</div></a>
                                <p class="card-text mb-0">Link Placeholder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/artur-tumasjan-IDbeTFgI9As-unsplash.jpg" alt="..." />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Chris Randall</div></a>
                                <p class="card-text mb-0">Link Placeholder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/cdd20-0vIIPcc6wws-unsplash.jpg" alt="..." />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Paul Valenti</div></a>
                                <p class="card-text mb-0">Link Placeholder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="~/Images/thumbnail_IMG_1615.jpg" alt="Alicia" />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Alicia Villegas</div></a>
                                <p class="card-text mb-0">aliciavillegas.net</p>
                            </div>
                        </div>
                    </div>






                </div>
                <div class="text-end mb-5 mb-xl-0">
                </div>
            </div>
        </section>
    </main>
