@{
    ViewData["Title"] = "Portfolio Overview";
}

        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">My Projects</h1>
                    <p class="lead fw-normal text-muted mb-0">Completed During My Time At Centriq</p>
                </div>
                <div class="row gx-5">
                    <div class="col-lg-6">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-3 mb-3" src="~/Images/DungeonPlayerStats.png" alt="Link to Dungeon App" />
                            <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href=@Url.ActionLink("DungeonApp", "Home")><br />Dungeon App</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-3 mb-3" src="~/Images/Storefront.png" alt="Link to Storefront Database" />
                            <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href=@Url.ActionLink("StorefrontDatabase", "Home")>Storefront Database</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative mb-5 mb-lg-0">
                            <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                            <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative">
                            <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                            <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!">Project name</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 bg-dark">
            <div class="container px-5 my-5">
                <h2 class="display-4  mb-4">
                    Want to Collaborate?
                    <a class="btn btn-lg btn-primary" href="contact.html">Contact me</a>
            </div>
        </section>
    </main>
