@{
    ViewData["Title"] = "Resume";
}

        <!-- Page Content-->
        <section class="py-5 bg-dark">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Resume</h1>
                    <a href="~/files/ChanelDubreuilResume.pdf" download="ChanelDubreuilResume.pdf" class="btn btn-primary btn-lg mt-3">Download My Resume Here!</a>
                </div>
                <div class="row gx-5">
                    <div class="col-xl-8">
                        <!-- FAQ Accordion 1-->
                        <h2 class="fw-bolder mb-3 text-center">Education</h2>
                        <div class="accordion mb-5" id="accordionExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <strong>Centriq Training</strong></button></h3>
                                <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <strong>Anticipated Graduation March 2024</strong><br /><br />
                                <strong>TECHNICAL AND PROFESSIONAL SKILLS</strong></br>
                                Front End:  HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</br>
                                Middle Tier:  C#, .NET Core MVC, LINQ, EF, Razor Pages</br>
                                Back End:  ADO.NET, SQL, SQL Server</br>
                                Tools:  Azure Data Studio, Visual Studio, Visual Studio Code, SSMS, Git Bash</br>
                                Professional Skills: Troubleshooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork, Pair Programming
                                </br></br>
                                <strong>INDEPENDENT DEVELOPMENT PROJECTS</strong></br>
                                •	Personal Site: Created a personal portfolio website to showcase the skills cultivated throughout the course. Application was initially a static HTML site that was then converted to a dynamic ASP.NET MVC site .</br>
                                •	StoreFront:  Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</br>
                                •	S.A.T. Scheduling Administration Tool: Created a secure application for managing product data. Application is built to simulate an online class scheduling system.  Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.




                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><strong>University of Central Missouri</strong></button></h3>
                                <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                      <strong>August 2012-May 2014</strong><br /><br />
                                      Studied the history of art, including major movements and influential artists.<br />
                                      Displayed personal artwork in university exhibitions. <br />
                                      Developed proficiency in traditional and contemporary drawing and painting techniques.<br />
                                      Explored the creation of three-dimensional art forms using various materials.

                                        

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- FAQ Accordion 2-->
                        <h2 class="fw-bolder mb-3 text-center">Work History</h2>
                        <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2"><strong>Michaels</strong></button></h3>
                                <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <strong>October 2020-May 2021; September 2021-June 2022; October 2023-Current</strong>
                                        <br><br />
                            •	Efficiently performed inventory assessments and implemented restocking procedures to prevent product shortages.</br>
                            •	Maintained accurate records of inventory levels and order fulfillment.</br>
                            •	Implemented merchandising strategies to optimize product visibility and enhance the shopping experience.</br>
                            •	Responded promptly to customer requests and resolved issues to ensure high levels of customer satisfaction.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingOne"><button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2"><strong>Donutology</strong></button></h3>
                                <div class="accordion-collapse collapse show" id="collapseOne2" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <strong>July 2022-May 2023</strong>
                                        <br><br />
                                •	Worked with a team of bakers to ensure a cohesive and efficient working environment.</br>
                                •	Ensured compliance with food safety regulations and hygiene standards in all aspects of food preparation and handling.</br>
                                •	Implemented time-saving techniques to meet production targets without compromising product quality.</br>
                                •	Created custom orders both for special events and to accommodate dietary restrictions.

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2"><strong>Starbucks</strong></button></h3>
                                <div class="accordion-collapse collapse" id="collapseThree2" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                                    <div class="accordion-body">
                                        <strong>May 2018-June 2019</strong><br />
                                <br> •	Acquired in-depth knowledge of Starbucks’ coffee blends, seasonal offerings, and food items to make personalized recommendations to customers.</br>
                                •	Provided exceptional customer service by maintaining a friendly and approachable demeanor, creating a welcoming atmosphere for customers.</br>
                                •	Collaborated with team members to ensure a seamless workflow during peak hours, contributing to a positive and efficient work environment.</br>
                                •	Addressed customer concerns and complaints promptly and effectively, striving to find satisfactory resolutions.

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>
    

