@{
    ViewData["Title"] = "Scheduling Administration Tool";
}

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Scheduling Administration Tool</h1>
                   

                    <a class="lead   text-dark mb-2 mt-2" @Html.ActionLink("SAT", "http://sat.chaneldubreuil.com") <font size="6"></font></a>
                </div>
            </div>
        </div>
   
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal text-dark">
                        The Scheduling Administration Tool was the first project I was involved in where I collaborated with others. Within this project, my responsibilities included the creation of the database, annotation of all of the metadata in the data layer, and creation of the student and enrollment controllers and views. This endeavor significantly deepened my understanding of team dynamics and collaboration. Moreover, it served as an invaluable experience in mastering the use of source control within a team context.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
    </main>


