@{
    ViewData["Title"] = "Storefront Project";
}

<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Dungeon App</h1>
                    <p class="lead fw-normal text-dark mb-0">I built an Asp.NET MVC web application to showcase my Storefront Database.</p>

                    <a class="lead fw-normal  text-dark mb-2 mt-2" target="_blank" href="https://github.com/CDDubreuil/Storefront"><font size="6"><i class="fa-solid fa-dragon"></i>Visit the Storefront Github Repo!<i class="fa-solid fa-hat-wizard"></i></font></a>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="~/images/screenshot 2024-03-07 115037.png" alt="List of enemies" /></div>
            <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="~/images/screenshot 2024-03-07 115436.png"  alt="Dungeon player character stats" /></div>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="lead fw-normal text-dark">
                        This project turned out to be the biggest hurdle for me at Centriq, pushing me to take the .NET courses again to really nail down MVC. I wasn't okay with just getting by; I was after a deep understanding and the ability to apply it well. Diving into AJAX for the first time was surprisingly fun, too. For the project, I built a mock record store website that lets users search for records by keywords or genre. It was a perfect mix of challenging myself technically while getting to be a bit creative. This experience was a great blend of hard work and enjoyable problem-solving.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
    </main>


