@{
    ViewData["Title"] = "Storefront Database";
}

        <!-- Page Content-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Storefront Database</h1>
                            <p class="lead fw-normal  mb-0">My favorite project that I've worked on has by far been the Storefront Database that I made in SSMS. 
                                </p>
                    <a href="~/Files/StorefrontSchema.zip" download class="lead fw-normal text-dark mb-2 mt-2"><font size="6">Download My Storefront Schema here!</font></a>

                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="~/Images/Storefront.png" alt="Storefront diagram" /></div>
                    <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="~/Images/StorefrontArtistTable.png" alt="Table of Artists" /></div>
                    <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="~/Images/StorefrontRecordTable.png" alt="Table of Records" /></div>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mb-5">
                            <p class="lead fw-normal text-muted">This was later used to develop my Storefront website project. This is a mock
                                record store website, so I included as much relevant information that I could find that potential consumers would be interested in. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


